################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Droid/bin/Debug
/Droid/obj/Debug
/Flipper/bin/Debug
/Flipper/obj/Debug
/iOS/bin
/iOS/obj
/packages
*.DS_Store
Flipper.v12.suo
/Flipper.Sample/Flipper.Sample/bin/Debug
/Flipper.Sample/Flipper.Sample/obj/Debug
/Flipper.Sample/Flipper.Sample.Droid/bin/Debug
/Flipper.Sample/Flipper.Sample.Droid/obj/Debug
/Flipper.Sample/Flipper.Sample.iOS/bin/iPhone/Debug
/Flipper.Sample/Flipper.Sample.iOS/obj/iPhone/Debug
/Flipper.Sample/Flipper.Sample.WinPhone/obj/x86/Debug
/Flipper.WinPhone/Bin/x86/Debug
/Flipper.WinPhone/obj
/Flipper.Droid/obj/Debug
/Flipper.Droid/bin/Debug
/Flipper.Sample/Flipper.Sample/bin/Release
/Flipper.Sample/Flipper.Sample/obj/Release
*.user
/Flipper.Sample/Flipper.Sample.Droid/bin/Release
/Flipper.Sample/Flipper.Sample.Droid/obj/Release
/Flipper.Sample/Flipper.Sample.iOS/bin
/Flipper.Sample/Flipper.Sample.iOS/obj
/Flipper.Sample/Flipper.Sample.WinPhone/Bin
/Flipper.Sample/Flipper.Sample.WinPhone/obj
/Flipper.WinPhone/Bin
/Flipper/bin/Release
/Flipper/obj/Release
/Flipper.Droid/bin/Release
/Flipper.Droid/obj/Release
/Flipper.iOS/bin
/Flipper.iOS/obj
/Flipper.iOS/StyleCop.Cache
*.nupkg
/Flipper.Sample.WinRT/Flipper.Sample.WinRT.Windows/bin/Debug
/Flipper.Sample.WinRT/Flipper.Sample.WinRT.Windows/obj/Debug
/Flipper.Sample.WinRT/Flipper.Sample.WinRT.WindowsPhone/bin/Debug
/Flipper.Sample.WinRT/Flipper.Sample.WinRT.WindowsPhone/obj/Debug
/Flipper.WinRT/Flipper.WinRT.Windows/bin/Debug
/Flipper.WinRT/Flipper.WinRT.Windows/obj/Debug
/Flipper.WinRT/Flipper.WinRT.WindowsPhone/obj/Debug
/Flipper.WinRT.Windows/bin/Debug
/Flipper.WinRT.Windows/obj/Debug
/Flipper.WinRT.WindowsPhone/bin/Debug
/Flipper.WinRT.WindowsPhone/obj/Debug
